<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361521628977-1rtfg2m9upbr0dsjgt9fg4m330kg7kpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361521628977-1rtfg2m9upbr0dsjgt9fg4m330kg7kpj</string>
	<key>API_KEY</key>
	<string>AIzaSyCyhtdNGHu2HYMdaEIbpTimJKio4_10ex8</string>
	<key>GCM_SENDER_ID</key>
	<string>361521628977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jpcsc.tennislineapp</string>
	<key>PROJECT_ID</key>
	<string>tennis-lineapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tennis-lineapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361521628977:ios:355cd33a0c1d5ad0a1d210</string>
</dict>
</plist>